/* BASIC STYLES HERE */
p {
    margin-bottom: 0;
}

button {
    margin: .5em;
}

.card {
    background-color: black;
    color: white;
    padding: 0;
}

.card>img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.miniCard {
    padding: .25em;
}

.miniCard>img {
    object-fit: cover;
    width: 6em;
    height: 6em;
    border-radius: 5px;
}

.keypad-button {
    width: 100%;
    height: 10vh;
    margin: 0;
    border-radius: 0;
    border: solid white 2px;
}

#snack-dump {
    overflow-y: scroll;
    max-height: 60vh;
}